.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  max-width: 820px;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
}

.text {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  padding: 10px 0px;
  color: #8291a3;
}
.text--active {
  color: #1e2123;
}

.focus {
  height: 3px;
}
.focus--active {
  background: #ffd54f;
  width: 100%;
}
