.error {
  position: relative;
  height: 669px;
  width: 100%;
  background-image: url("../../image/background.png"),
    linear-gradient(#7e6af3, #6540cd);
  background-size: cover;
  background-repeat: no-repeat;
  .error__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  .error__picture {
    position: absolute;
    top: 96px;
    left: 80px;
  }
  .error__picture-white {
    position: absolute;
    bottom: 80px;
    right: 188px;
  }
}

.notification {
  .notification__title {
    height: 73px;
    width: 474px;

    font-family: "Inter-Bold";
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  }
  .notification__text {
    height: 48px;
    width: 427px;

    font-family: "Inter-Medium";
    font-size: 20px;

    margin-top: 20px;
    margin-bottom: 50px;
    color: #ffffff;
  }
  .notification__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    height: 48px;
    width: 249px;

    background: #ffd54f;
    border-radius: 33px;
    .notification__button-text {
      font-family: "Inter-Bold";
      font-size: 16px;

      color: #1e2123;
    }
  }
}
