.pagination {
  .pagination__wrapper {
    display: flex;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 102px;
  }
  .pagination__list {
    display: flex;
    height: 22px;
    width: 9px;
  }
  .pagination__item {
    font-family: "Inter-Regular";
    font-size: 18px;
    color: #686868;
    padding: 0px 7px;
    margin: 0px 8px;
  }
  .pagination__item--active {
    font-family: "Inter-Bold";
    font-size: 18px;

    border-bottom: 2px solid #ffd54f;
    color: #000000;
  }
}
