.navbar {
  display: flex;
  height: 40px;
  max-width: 1940px;

  background: #f8f8f8;
  .navbar__menu {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0 80px;
  }
  .navbar__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 820px;
    width: 100%;
    .navbar__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      .navbar__focus {
        @extend %animation;
      }
    }
    .navbar__item:hover .navbar__focus--hover {
      width: 100%;
    }
    .navbar__block--padding {
      padding: 10px 0px;
    }
  }
  .navbar__list--size {
    max-width: 280px;
  }
  .navbar__text {
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;

    color: #8291a3;
    padding: 10px 0px;
  }
  .navbar__text--font{
    font-family: "Inter-Medium";
  }
  .navbar__text--black {
    color: #1e2123;
  }
  .navbar__text--violet {
    color: #664ef9;
  }
  .navbar__text--margin-sign {
    margin-right: 5px;
  }
  .navbar__text--margin-heart {
    margin-left: 11px;
  }
}

.navigation {
  display: flex;
  align-items: center;

  height: 60px;
  max-width: 1940px;
  width: 100%;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  .navigation__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0 80px;

    .navigation__logo {
      height: 20px;
      width: 134px;
    }

    .navigation__menu {
      max-width: 800px;
      width: 100%;
      .navigation__list {
        display: flex;
        justify-content: space-between;
        .navigation__item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          font-family: "Inter-SemiBold";
          font-size: 14px;

          position: relative;

          .navigation__block--padding {
            padding: 20px 0px;
          }
          .navigation__link {
            padding: 20px 0px;
          }
        }
        .navigation__sign--margin {
          margin-left: 15px;
        }
        .navigation__focus {
          @extend %animation;
        }
        .navigation__item:hover .navigation__focus--hover {
          width: 100%;
        }
      }
    }

    .navigation__button {
      font-family: "Inter-Bold";
      font-size: 14px;

      height: 40px;
      width: 240px;

      color: #ffffff;

      background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
      border: none;
      border-radius: 19px;
    }
  }
}

%animation {
  width: 0%;
  border-bottom: 3px solid #ffd54f;
  transition: all 0.5s;
}
