.link__article-link {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;

  .link__home {
    margin-right: 7px;
  }
  .link__title {
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    margin-top: 25px;
  }
  .link__round {
    display: inline-block;
    height: 3px;
    width: 3px;

    border-radius: 50%;
    background: #4e64f9;
    margin: 3px 7px;
  }
  .link__text {
    color: #686868;
  }
  .link__text--blue {
    margin-left: 10px;
    color: #4e64f9;
  }
}
