.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  min-height: 90vh;
  max-width: 1940px;
  width: 100%;

  background-image: url("../../image/background.png"),
    linear-gradient(#7e6af3, #6540cd);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 80px;
}

.call {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .call-title {
    font-family: "Inter-Bold";
    font-size: 30px;

    height: 30px;
    color: #ffffff;
  }
  .call-paragraph {
    @extend %font-call;

    height: 72px;
    width: 515px;
  }
  .call-block {
    display: flex;
    gap: 20px;
    .call-block-icons {
      display: flex;
      flex-direction: column;
      .call-icons {
        @extend %icons;
        margin-bottom: 11px;

        height: 30px;
        width: 30px;
      }
    }
    .address {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 8px;

      height: 153px;
      width: 482px;

      font-family: "Inter-SemiBold";
      font-size: 18px;
      line-height: 150%;

      color: #ffffff;
      .telefon-block {
        display: flex;
        align-items: center;
        gap: 10px;
        .telefon {
          font-family: "Inter-SemiBold";
          font-size: 18px;
          line-height: 150%;
          color: #ffffff;
        }
        .telefon-icons {
          @extend %icons;

          height: 30px;
          width: 30px;
        }
      }
      .mail {
        color: #ffffff;
        text-decoration: underline 2px;
        text-underline-position: under;
        width: 170px;
      }
      .time {
        font-family: "Inter-Light";
        font-size: 18px;
      }
    }
  }
  .info {
    font-family: "Inter-Regular";
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;

    height: 42px;
    width: 516px;
  }
  .warning {
    display: flex;
    align-items: center;
    padding: 30px 25px;
    gap: 20px;

    height: 90px;
    width: 515px;

    background: rgba(80, 57, 189, 0.5);
    border-radius: 10px;
    .warning-text {
      @extend %font-call;

      height: 48px;
      width: 405px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 516px;
  width: 625px;

  background: #fffefe;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;
  padding: 40px;
  .title {
    font-family: "Inter-Medium";
    font-size: 14px;
    line-height: 17px;

    height: 17px;
    width: 173px;
    margin: 15px 0px;
    color: #686868;
  }
  .title:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .label {
    position: relative;
    height: 100px;
  }
  .sprite {
    position: absolute;
    bottom: 14px;
    left: 20px;
  }
  .input:focus + .sprite {
    svg {
      fill: #664ef9;
    }
  }
  .input:focus + .sprite-error {
    svg {
      fill: #686868;
    }
  }
  .input {
    @extend %font;

    height: 50px;
    width: 260px;

    padding: 15px 60px;
    padding-right: 0px;
    background: #f8f8f8;
    border-radius: 30px;
    border: none;
  }
  .input:focus {
    @extend %inputs-focus;
    border: 2px solid #664ef9cc;
  }
  .input::placeholder {
    @extend %font;
    color: #686868;
  }
  .block-input {
    display: flex;
    gap: 30px;
  }
  .textarea {
    @extend %font;

    height: 200px;
    width: 548px;

    resize: none;
    background: #f8f8f8;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
  }
  .textarea:focus {
    @extend %inputs-focus;
    border: 2px solid #664ef9cc;
  }
  .textarea::placeholder {
    @extend %font;

    color: #686868;
  }
  .send {
    display: block;
    height: 48px;
    width: 200px;

    font-family: "Inter-Bold";
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

    padding: 12px 20px;
    margin: 40px auto;
    margin-bottom: 0;

    background: #664ef9;
    border-radius: 33px;
    border: none;
  }
  .message-error {
    @extend %font;
    color: lightcoral;
    padding-top: 5px;
  }
  .block-error {
    border: 2px solid lightcoral;
  }
  .block-error:focus {
    border: 2px solid lightcoral;
  }
}

.background {
  min-height: 1100px;
  max-width: 1940px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0;
  background: rgba(46, 46, 46, 0.7);
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 310px;
  width: 400px;

  background: #fffefe;
  box-shadow: 0px 20px 40px rgba(39, 95, 158, 0.2);
  border-radius: 10px;

  position: absolute;
  top: 25%;
  left: 36%;
  .modal-title {
    font-family: "Inter-Bold";
    font-size: 25px;
    text-align: center;

    width: 200px;
    color: #000000;
    margin-top: 50px;
  }
  .modal-text {
    font-family: "Inter-Regular";
    font-size: 14px;
    text-align: center;

    height: 50px;
    width: 310px;

    color: #686868;
    margin-top: 20px;
  }
  .modal-button {
    font-family: "Inter-Bold";
    font-size: 16px;
    color: #1e2123;

    height: 48px;
    width: 161px;

    border-radius: 33px;
    background: #ffd54f;
    border: none;
    margin-top: 30px;
  }
}

.combine {
  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-left: 20px;
  .icon {
    @extend %icons;

    height: 45px;
    width: 45px;
  }
}

%icons {
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}
%font-call {
  font-family: "Inter-Medium";
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
%inputs-focus {
  background: #ffffff;
  outline: #664ef9cc;
}
%font {
  font-family: "Inter-Medium";
  font-size: 14px;
  line-height: 17px;
}
